* {
  box-sizing: border-box;
}

body {
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 440px;
  gap: 50px;
  border-radius: 5px;
  padding: 20px;
  margin-top: 100px;
  background: #808080;
background: -webkit-linear-gradient(to top, #3fada8, #808080);
background: linear-gradient(to top, #3fada8, #808080);
}

.container a{
  text-decoration: none;
  color: white;
}
.content {
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 17px;
    word-spacing: 2px;
  }
}
input[type="text"],
input[type="email"] {
  width: 400px;
  padding: 5px;
  border: none;
  border-radius: 4px;
  margin-top: 3px;
  margin-bottom: 20px;
}

#login-btn {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 35px;
  text-decoration: none;
  font-size: 23px;
  letter-spacing: 3px;
  margin-top: 100px;
}

.head-title{
  letter-spacing: 10px;
}

@media screen and (max-width: 1100px) and (min-width: 800px) {
  .container {
    flex-direction: column;
    height: 650px;
  }
  .content {
    h3 {
      font-size: 40px;
    }
  }

  input[type="submit"] {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 100;
  }
}
@media screen and (max-width: 799px) {
  .container {
    flex-direction: column;
    height: 600px;
    gap: 20px;
  }
  .content {
    h3 {
      font-size: 30px;
      text-align: center;
    }
    p {
      text-align: center;
    }
  }

  input[type="text"],
  input[type="email"] {
    width: 250px;
    padding: 5px;
  }

  input[type="submit"] {
    padding: 12px;
    font-size: 20px;
    font-weight: 100;
  }
}

@media screen and (max-width: 590px) {

  
  input[type="text"],
  input[type="email"] {
    width: 150px;
    padding: 5px;
  }

  input[type="submit"] {
    padding: 10px;
    font-size: 10px;
    font-weight: 100;
    margin-right: 60px;
  }


}
